<!DOCTYPE html>
<html>
<head>
    <title>Grocery Items</title>
</head>
<body>
    <h1>Grocery Items</h1>
    <ul>
        {% for grocery_item in grocery_items %}
            <li>{{ grocery_item.item_name }} - {{ grocery_item.category }} - {{ grocery_item.status }}</li>
        {% endfor %}
    </ul>
</body>
</html>